body {
    padding-top: 50px;
}
p, h1 {
    text-align: center;
}

.outline {
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black, -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
    font-size: 2em;
    color: white;
}

svg a:hover {
    text-decoration: none;
}
line {
    stroke: black;
    stroke-width: 3px;
}

.preview {
    padding: 1% 2% 1% 2%;
    min-width:360px;
    width:33.333%;
    float:left;
}
.preview > div {
    min-width: 315px;
    min-height: 210px;
    border-radius: 10px;
    box-shadow:1px 1px 2px #aaa, -1px -1px 2px #aaa, 1px -1px 2px #aaa, -1px 1px 2px #aaa;
}

polyline {
    stroke-width: 2px;
    fill: none;
}

.thumbnail {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-color: #888;
    border-width: 3px;
    border-style: solid;
    float: left;
}
.thumbnail img {
    width: 100%;
    height: 238px;
    object-fit: cover;
}
.thumbnail p{
    margin-top:9px;
    font-size:16px;
}
div#add-fighter {
    border-style: dashed;
    display: table;
}
div#add-fighter .glyphicon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 87px;
    color: #888;
}
a:hover div#add-fighter {
    border-color: #444;
}
a:hover div#add-fighter .glyphicon {
    color: #444;
}
ul.navbar-inverse a {
    color: rgb(157,157,157);
}

.form-horizontal {
    text-align: center;
}
