body {
    padding-top: 50px;
}

svg a:hover {
    text-decoration: none;
}

p {
    text-align: center;
}

.preview {
    padding-bottom: 15px;
}

polyline {
    stroke-width: 2px;
    fill: none;
}

div.thumbnail {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-color: #777777;
    border-width: 3px;
    border-style: solid;
    float: left;
}
div#add-fighter {
    border-style: dashed;
    display: table;
}
div#add-fighter .glyphicon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 87px;
    color: #777777;
}

@media (min-width: 768px) {
    .col-sm-4 {
        margin-left: 0;
        margin-right: 5%;
    }
}
@media (min-width: 992px) {
    .col-md-3 {
        margin-left: 5%;
        margin-right: 0;
    }
    .col-md-3:first-of-type {
        margin-left: 7.5%;
    }
}
